html, body{
    height:100%;
    width:100%;
  }
  
  body{
    background-image: url(../images/moon6.jpg);
    text-align: center;

  
  }
  
  #wrapper{
    margin:2.5% auto;
    background-repeat: no-repeat;
    background-size: 100%;
    width:960px;
    height: 100%;
    box-sizing: border-box;
    border:10px black;
  }
  
  #subwrapper{
    position: relative;
  }

  #quiz-area{  background-image: url(../images/moon3.jpg);
    background-size: vw;
    background-repeat: no-repeat;

  }

  button{
    display:block;
    width:50%;
    height:20%;
    margin: 0 auto;
    border:none;
    cursor: pointer;
    font-size: 5vw;
  }
  
  img{
    height:15vw;
    width:15vw;
    border:10px solid black;
  }
  
  h1{
    font-family: 'Aclonica', sans-serif;
    font-size: 5vw;
    font-weight: bold;
    color:rgb(228, 9, 9);
    text-shadow: 5px 5px black;
    /* create border */
    border:10px white;
    
    background-image: url(../images/moon5.jpg);
  }
  
  h2{
    font-size: 5vw;
   
    background-color: rgb(149, 155, 152);
    color: url(../images/moon2.jpg);
  }
  
  h3{
    font-size: 7vw;
    color:rgb(13, 9, 228);
    text-shadow: 7vw black;
    font-weight: bold;
    border:10px rgb(15, 14, 14);
   
  }
  
  #start{
    
    border:5px solid white;
    background: rgb(110, 103, 103);
    color: rgb(0, 0, 0);
  }
  
  
  
  button:hover {
    border:2px solid blue;
    background: pink;
  }